{% extends 'index.html.twig' %}
{% block title %}
{%  endblock %}
{%  block body %}
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'comment_index_paginated',
    } %}
    <h1>
        {#{{  'title.tags_list'|trans }} #}
        Komentarz
    </h1>

    {# some comment #}
        <h1>
            {{ 'title.comment_list'|trans }}
        </h1>
        {% if paginator.data |length %}
            {% for row in paginator.data %}
                <li> {{ row.comment_id }}.{{ row.book_id }}</li>
            {%  endfor %}
        {% else %}
            <div>
                No tag found!
            </div>
        {% endif %}
{%  endblock %}
