{% extends "index.html.twig" %}
{% block title %}
{% endblock %}
{%  block content %}
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'book_index_paginated',
    } %}
<h1>
    {{ 'title.books_list'|trans }}
</h1>
<!--
<h1>
    Książki
</h1>
-->
{# some comment #}
{% if paginator.data |length %}
    <ul>
        {% for row in paginator.data %}
            <li>{{ row.book_id }}.{{ row.title|upper }}- {{ row.author }}</li>
        {% endfor %}
    </ul>
{% else %}
    <div>
        List is empty!
    </div>
{% endif %}
{%  endblock %}