<h1>
    {{ 'title.books_list'|trans }}
</h1>
{# some comment #}
{% if books|length %}
    <ul>
        {% for row in books %}
            <li>{{ row.title|upper }}, {{ row.url }}</li>
        {% endfor %}
    </ul>
{% else %}
    <div>
        List is empty!
    </div>
{% endif %}