{% extends 'index.html.twig' %}
<h1>View Book</h1>
{% if book|length %}
    <div>
        {{ book.title }}, {{ book.url }}
    </div>
{% else %}
    <div>
        No book found!
    </div>
{% endif %}