<h1>
    {{ 'title.book_view'|trans({'%id%': book.id}) }}
</h1>
{% if book|length %}
    <div>
        {{ book.title }}, {{ book.url }}
    </div>
{% else %}
    <div>
        No book found!
    </div>
{% endif %}
