{% block title %}
{%  endblock %}
{%  block content %}
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'tag_index_paginated',
    } %}
    <h1>
        {#{{  'title.tags_list'|trans }} #}
        Tagi
    </h1>

    {# some comment #}
    {% block body %}
        <h1>
            {{ 'title.tag_list'|trans }}
        </h1>
        {% if paginator.data |length %}
            {% for row in paginator.data %}
                <li> {{ row.tag_id }}.{{ row.name }}</li>
            {%  endfor %}
        {% else %}
            <div>
                No tag found!
            </div>
        {% endif %}
    {%  endblock %}

{%  endblock %}