{% extends 'index.html.twig' %}
{% block title %}
{%  endblock %}
{%  block body %}
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'tag_index_paginated',
    } %}

    {# some comment #}
        <h1>
            {{ 'title.tag_list'|trans }}
        </h1>
        {% if paginator.data |length %}
            {% for row in paginator.data %}
                <li> {{ row.tag_id }}.{{ row.name }}</li>
            {%  endfor %}
        {% else %}
            <div>
                No tag found!
            </div>
        {% endif %}
{%  endblock %}
